* {
    margin: 0;
    box-sizing: border-box;
}
body, html {
    background-color: #222;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}
div.wrap {
    max-width: 1200px;
    margin: 0 auto;
}

section.bannerFixed {
    position: fixed;
    right: 0;
    left: 0;
    top:-70px;
    background-color: rgba(0, 0, 0, 0.445);
    height: 70px;
    overflow: hidden;
    z-index: 3;
    transition: .8s;
}
section.visible {
    top: 0px;
}

.bannerFixed div {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
}
.bannerFixed img {
    width: 60px;
    margin-left: 10px;
}

.bannerFixed h1 {
    display: block;
    margin-left: 10px;
    width: 30%;
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.856);
    text-shadow: #333 5px 5px 3px;
    letter-spacing: 3px;
}

.bannerFixed nav {
    flex-grow: 1;
}

.bannerFixed ul {
    display: flex;
    list-style: none;
}

.bannerFixed li {
    flex-basis: 25%;
}

.bannerFixed a {
    font-size: .7em;
    display: block;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.856);
    text-transform: uppercase;
    width: 100%;
    min-width: 95px;
    line-height: 70px;
    text-align: center;
    border-left: 2px solid rgba(253, 253, 253, 0.507) ;
    cursor: pointer;
}
.bannerFixed a:hover {
    color: rgba(0, 0, 0, 0.89);
    background-color: rgba(255, 255, 255, 0.541);
}

.banner img {
    width: 60px;
}
header {
    display: flex;
}
header .banner {
    flex-grow: 1;
    background-image: url(/pictures/baner.jpg);
    height: 60vh;
    background-attachment: fixed;
}
.banner img {
    width: 100px;
    margin: 30px;
}
.banner h1 {
    font-size: 2em;
    color: rgba(255, 255, 255, 0.664);
    text-shadow: #333 5px 5px 3px;
    margin-left: 30px;
    letter-spacing: 3px;
}
header .header {
    flex-basis: 200px;
}
.header ul, .footer ul {
    list-style: none;
    padding-inline-start: 0px
}
.header li {
    width: 100%;
}
.header li a, .footer li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 0px 20px;
    height: 15vh;
    line-height: 15vh;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid #fff;
    transition: .5s;
}
.header li a:hover, .footer li a:hover {
    background-color: #fff;
    color: #333;
    font-weight: bold;
    font-size: 20px;
}
.course h1, .dessert h1 {
    color: rgba(255, 255, 255, 0.671);
    margin: 30px 20px;
    text-align: center;
    font-size: 1.8em;
    text-transform: capitalize;
    font-style: italic;
}

div.course, div.course2, div.dessert {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

div.course2 {
    display: none;
}
div.visibleCourse2 {
    display: flex;
}

.course div, .dessert div {
    flex-basis: 30%;
    overflow: hidden;
    height: 220px;
}

.dessert div {
    height: 500px;
}
.course div img, .dessert div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .3s;
}
.dessert div img {
    height: 250px;
    width: 50%;
}

.course div img:hover {
    transform: scale(1.2)
}
.dessert div img:hover {
    transform: scale(1.2)
}
.course button, .dessert button {
    display: block;
    width: 30%;
    margin: 0 auto;
    padding: 10px;
    text-transform: uppercase;
    color: #333;
    margin-top: 10px;
    box-shadow: #000 1px 1px 4px 1px;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: bold;
}
.course button:hover, .dessert button:hover {
    letter-spacing: 3px;
    box-shadow: #000 3px 3px 5px 4px;
}

footer {
    position: relative;
    background-color: #111;
    margin-top: 20px;
    width: 100%;
    height: 400px;
    color: #fff;
    overflow: hidden;
}

div.contact {
    float:left;
    width: 20%;
    text-align: center;
}
div.contact p {
    font-size: 2em;
    text-shadow: rgba(248, 245, 245, 0.315) 3px 3px 10px;
    line-height: 3em;

}

footer .address {
    font-size: 2em;
    position: absolute;
    top: 20%;
    left: -5%;
    transform: rotate(-10deg);
    width: 110%;
}

footer .address p {
    display: block;
    margin: 30px 0;
    animation: moveP 30s linear infinite;
    text-shadow: rgba(248, 245, 245, 0.315) 3px 3px 10px;
}
@keyframes moveP {
    from {transform: translateX(100%)}
    to {transform: translateX(-100%)}
}
footer .address p:nth-child(2) {
    animation: moveP 30s reverse linear infinite both;
}
footer .address p:last-child {
    animation: moveP 35s 10s linear infinite both;
}